* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: lavender;    
}
.board_wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    border: solid 1px black;
    /* width: 80%; */
    max-width: 700px;
}
.square {
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: solid 1px black; */
    aspect-ratio: 1/1;
}
.piece {
    position: relative;
    
    width: 100%;
    aspect-ratio: 1/1;
    transition: all .2s ease;
}